
@{
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

<div class="container-fluid">
    <div id="tasks-container" class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-12">
        <div class="task-container col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="task">
                <div class="task-priority">
                    <img src="~/Assets/Icons/green-triangle.png" class="img-responsive" />
                </div>

                <div class="task-title">
                    Et harum quidem
                </div>

                <div class="task-date-time">
                    08 : 30 PM <br />
                    Monday, June 30th
                </div>

                <div class="task-description">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum eos et accusamus et iusto odio...
                </div>

                <div class="task-controls">
                    <img class="task-check img-responsive" src="~/Assets/icons/check1.png" />
                    <img class="task-close img-responsive" src="~/Assets/icons/close.png"/>
                </div>
            </div>
        </div>
    </div>
</div>
