
@{
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

<div class="container-fluid">
    <div id="tasks-container" class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-12">
        
        @{
            foreach (var task in ViewBag.Tasks)
            {
                <div class="task-container col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="task">
                        <div class="task-priority">                                               
                            <img src="~/Assets/Icons/@(task.PriorityIconName).png" class="img-responsive" />
                        </div>

                        <div class="task-title">
                            @task.Title
                        </div>

                        <div class="task-date-time">  
                            @task.Time
                            <br />
                            @task.Date
                        </div>

                        <div class="task-description">                            
                            <span>
                                @task.Description
                            </span>
                        </div>

                        <div class="task-controls">
                            <img class="task-check img-responsive" src="~/Assets/icons/@(task.IsFinishedIconName).png" />
                            <img class="task-close img-responsive" src="~/Assets/icons/close.png" />
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>
