
@font-face
{
    font-family: "font1";
    src: url(../fonts/raleway/Raleway-Light.ttf);
}

body
{
    font-family: "font1";
    color: #999999;
}

#task-corner-design-top-container
{
    position: absolute;
    transform: rotate(-45deg);
    left: -36px;
    top: -63px;
}

#task-corner-design-top-container .task-corner-design-top:first-child
{
    margin-left: 55px;
}

.task-corner-design-top
{
    height: 40px;
    width: 150px;
    margin: 15px 0 15px 0;
    background-color: #B2E1F3;
}

#task-isologo
{
    text-align: center;
    margin-top: 40px;
}

#task-isologo img
{
    height: 30px;
}

#task-info
{
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    padding-top: 2px;
    border: 2px solid #cccccc;
    color: #cccccc;
    float: right;
}

#task-filter
{
    clear: both;
    text-align: center;
    margin-bottom: 35px;
}

#task-filter a
{
    text-decoration: none;
}

.task-transparent-icon
{
    opacity: .3;
}

.task-highlighted-icon
{
    opacity: 1;
}

#task-filter img
{
    height: 30px;
    margin: 0 10px 0 10px;
}

footer
{
    clear: both;
    overflow: hidden;
    height: 99px;
    margin-bottom: -20px;
}

#task-copyright
{
    font-size: 14pt;
    height: 99px;
    display: table;
    float: left;
    padding-left: 20px;
}

#task-copyright span
{
    display: table-cell;
    vertical-align: middle;
}

#task-corner-design-bottom-container
{
    margin: 33px -7px 0 0;
    float: right;
}

#task-corner-design-bottom-container .task-corner-design-bottom:first-child
{
    margin-left: 55px;
}

.task-corner-design-bottom
{
    height: 40px;
    width: 150px;
    margin: 15px 0 15px 0;
    background-color: #D4D4D4;
    float: right;
    transform: rotate(135deg);
    clear: both;
}

