
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>

        @Styles.Render("~/Content/css")
        @Styles.Render("~/Assets/css")
    </head>

    <body>
        <header class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
            <div id="task-isologo">
                <img src="~/Assets/isologo/isologo.png"/>
            </div>

            <div id="task-info">
                i
            </div>
        </header>

        <section>
            @RenderBody() 
        </section>

        <footer>

        </footer>
    </body>
</html>
